.card {
  &_returned {
    &_div {
      background-image: url(../assets/photos/pokemon_image_back2.jpeg);
      background-size: cover;
      background-position: center;
      width: 15%;
      background-color: lightyellow;
      height: 400px;
      border-radius: 10px;
      color: #000;
      margin: 5px;
      padding: 5px;
      border: 10px solid darkblue;
    }
  }
  &_list {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
  }
  &_heading {
    color: white;
  }
}
