.card {
  text-align: center;
  &_returned {
    &_div {
      &_back {
        background-image: url(../assets/photos/pokemon_image_back2.jpeg);
        background-size: cover;
        background-position: center;
        text-indent: 110%;
        white-space: nowrap;
        overflow: hidden;
        width: 20%;
        background-color: lightyellow;
        height: 500px;
        border-radius: 10px;
        color: #000;
        margin: 5px;
        padding: 5px;
        border: 10px solid darkblue;
      }
      &_back:hover {
        background-image: none;
        text-indent: 0%;
        width: 20%;
        background-color: lightyellow;
        height: 500px;
        border-radius: 10px;
        color: #000;
        margin: 5px;
        padding: 5px;
        border: 10px solid darkblue;
      }
    }
    &_image {
      width: 95%;
      height: 320px;
    }
    &_name {
      margin: 0;
    }
    &_high_price {
      margin: 0;
    }
    &_type {
      margin: 0;
    }
    &_series {
      margin: 0;
    }
    &_set {
      margin: 0;
    }
    &_last_sold {
      margin: 0;
      &_price {
        margin: 0;
      }
    }
    &_amount_sold {
      margin: 0;
    }
  }
  &_list {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
  }
  &_heading {
    color: #000;
  }
}
