.header {
  &_link {
    text-align: center;

    &_div {
      width: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      & a {
        width: 30%;
      }
    }
  }
  &_name {
    text-align: center;
    margin: 0;
    padding: 5px;
  }
}
