.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #cc0000;
  &_link {
    text-align: center;

    &_div {
      width: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      & a {
        width: 30%;
        color: white;
      }
    }
  }
  &_name {
    text-align: center;
    margin: 0;
    padding: 5px;
    color: white;
  }
}
