.hero {
  background-image: url(../assets/photos/pokemon_hero.jpeg);
  height: 600px;
  background-size: cover;
  background-position: center;
  background-color: #5555;
  width: 100%;
  &_image {
    &_main {
    }
  }
}
