@charset 'utf-8';

html,
body {
  margin: 0;
  padding-top: 100px;
  font-family: "Roboto Condensed", sans-serif;
  color: #323232;
  height: 100vh;
  box-sizing: border-box;
  background: fixed;
  background-image: url(../assets/photos/pokemon_background_main.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  // background-color: #5555;

  a {
    text-decoration: none;
    color: #323232;
  }
}
#root {
  // background-color: #5555;
}

/* Enforces border-box for whole site */
*,
*:before,
*:after {
  box-sizing: inherit;
}
.front__page-div-One {
  height: 100px;
  width: 100px;
}
.App {
  // background-image: url(../assets/photos/pokemon_background2.jpeg);
  background-repeat: no-repeat;
  // background-color: #7ecaf6;
  background-position: center;
  background-size: cover;
}
@import ".././styles/partials/card";
@import ".././styles/partials/sets";
@import ".././styles/partials/header";
@import ".././styles/partials/hero";
@import ".././styles/partials/search";
