html,
body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: #323232;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: fixed;
  background-repeat: no-repeat;
}

html a,
body a {
  text-decoration: none;
  color: #323232;
}

/* Enforces border-box for whole site */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.front__page-div-One {
  height: 100px;
  width: 100px;
}

.App {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card {
  text-align: center;
}

.card_returned_div_back {
  background-image: url(../assets/photos/pokemon_image_back2.jpeg);
  background-size: cover;
  background-position: center;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  width: 20%;
  background-color: lightyellow;
  height: 500px;
  border-radius: 10px;
  color: #000;
  margin: 5px;
  padding: 5px;
  border: 10px solid darkblue;
}

.card_returned_div_back:hover {
  background-image: none;
  text-indent: 0%;
  width: 20%;
  background-color: lightyellow;
  height: 500px;
  border-radius: 10px;
  color: #000;
  margin: 5px;
  padding: 5px;
  border: 10px solid darkblue;
}

.card_returned_image {
  width: 95%;
  height: 320px;
}

.card_returned_name {
  margin: 0;
}

.card_returned_high_price {
  margin: 0;
}

.card_returned_type {
  margin: 0;
}

.card_returned_series {
  margin: 0;
}

.card_returned_set {
  margin: 0;
}

.card_returned_last_sold {
  margin: 0;
}

.card_returned_last_sold_price {
  margin: 0;
}

.card_returned_amount_sold {
  margin: 0;
}

.card_list {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card_heading {
  color: #000;
}

.set_card_div {
  text-align: center;
}

.set_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}

.set_returned_div {
  background-size: cover;
  background-position: center;
  margin: 15px;
  padding: 5px;
  border: 4px solid darkblue;
  width: 46%;
  height: 400px;
  background-color: lightyellow;
  text-align: center;
}

.set_returned_image {
  width: 60%;
  height: 150px;
}

.set_returned_image_small {
  width: auto;
  height: 50px;
}

.header_link {
  text-align: center;
}

.header_link_div {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header_link_div a {
  width: 30%;
}

.header_name {
  text-align: center;
  margin: 0;
  padding: 5px;
}

.hero {
  background-image: url(../assets/photos/pokemon_hero.jpeg);
  height: 600px;
  background-size: cover;
  background-position: center;
  background-color: #5555;
  width: 100%;
}

.search {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 500px;
}

.search_main {
  text-align: center;
  padding-top: 60px;
}

.search_input {
  width: 30%;
  height: 50px;
  background-color: #a3a3a3;
  border-radius: 5px;
}

.search_heading {
  color: lightgray;
}
/*# sourceMappingURL=App.css.map */